.DS_Store
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/paperclip_uploads
spec/retina_rails/strategies/paperclip_uploads
test/tmp
test/version_tmp
tmp
log
uploads
